.category-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  gap: 1%;
  align-items: center;
  justify-content: center;
}

.category {
  border: 1px solid #d9d9d9;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 2px 4px 5px black;
}

.category:hover {
  box-shadow: 4px 2px 5px black;
}

.category .tag {
  font-size: 25px;
  color: #059100;
  align-self: flex-start;
}

.details {
  margin-top: 50px;
  text-align: center;
}

.details h3 {
  font-size: 20px;
  font-weight: 600;
  color: #761f3c;
  padding: 10px;
}

.details .items {
  border-radius: 2px;
  font-weight: 700;
}

.category .img {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category img {
  width: 200px;
  border-radius: 50%;
  height: 200px;
  border: 3px solid palevioletred;
  align-self: flex-end;
}

#popup .popup-content {
  height: 90%;
  max-height: 95%;
}


body {
  background-color: #222;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}