.cat-overlay {
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.header-bg img {
  width: 100%;
}

nav {
  background-color: #de267f;
  width: 100%;
  top: 0px;
  z-index: 10;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

nav ul li {
  padding: 5px;
  margin: 0px 20px;
  font-size: 15px;
  font-weight: 400;
  color: aliceblue;
}

nav ul li:hover {
  border-radius: 2px;
  transition: all 0.3s;
  cursor: pointer;
}

.nav-bar {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  left: -5px;
}

.nav-items {
  font-size: 16px;
  margin-right: 20px;
  position: relative;
}

.nav-items:hover {
  cursor: pointer;
}

/*   
  .nav-items i {
    visibility: hidden;
  }
  
  .nav-items:hover i {
    visibility: visible;
    transition: all 0.3s;
  } */

.dropdown-menu {
  display: block;
  color: whitesmoke;
  background-color: #761f3c !important;
  height: auto;
  border: 1px solid whitesmoke;
}

.dropdown-menu a:hover {
  text-decoration: none;
  color: rgb(201, 193, 193);
}

/* **********Cart****************** */
#cart-icon {
  position: relative;
}

.count {
  position: absolute;
  text-align: center;
  height: 20px;
  width: 20px;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
}

.disable-scroll {
  overflow: hidden;
}

#cart-container {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vw;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6);
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

#cart-container .card {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%; */
  height: 100vw;
  max-width: 60%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.3s ease-in-out forwards;
}

.card-header h2 {
  justify-content: space-between;
}

.dismiss-btn {
  color: darkred;
  cursor: pointer;
}

.dismiss-btn:hover {
  color: black;
}

.card:hover {
  box-shadow: none;
  transform: none;
}

.card-body {
  overflow-y: scroll;
  overflow-x: hidden;
}

.product-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.ui-product-color {
  display: inline-block;
  overflow: hidden;
  margin: 0.144em;
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 10rem;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
  vertical-align: middle;
}

/* ********Custom Cake ************* */
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.popup-header {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close-btn:hover .close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.popup-body {
  padding: 10px 0;
  overflow-y: scroll;
}

.popup-footer {
  padding: 10px 0;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 767px) {
  .modal-dialog {
    margin: 0;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .modal-dialog {
    margin: 30px auto;
    max-width: 600px;
  }
}
