
*{
  transition: all .3s !important ;

}
body {
  background-color:gainsboro !important;
}




.card-title {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}
 .notification i {
  padding-right: 5px;
  /* color: green; */
  font-weight: bolder;
  color: rgb(12 188 186);
  font-size: 20px;

}
.card-text {
  /* color: red; */
  font-weight: bolder;
  color: orangered;
}

.dissmiss-btn {
  color: red;
  font-size: 25px;
  cursor: pointer;
  font-weight: bolder;
}
.dissmiss-btn:hover {
  color: black;
}
.order-title{

  font-weight: bolder;
  font-size: 20px;
}
.bold{
  font-weight: bold;
}


.toggle-icon{
  cursor: pointer;
  background-color: gray;
  color: whitesmoke;
  font-weight: 700;
  font-size: 20px;
  border-radius: 50%;
  width: fit-content; 
  margin: auto;
  height: 35px;
  width: 35px;
}
.toggle-icon i{

  text-align: center;
  vertical-align: middle;
}