.notification-box {
    margin-bottom: 15px;
  }

  .alert-success {
    background-color: #D7F9D7;
    color: #155724;
    border-color: #C3E6CB;
  }

  .alert-danger {
    background-color: #F9D7D7;
    color: #721C24;
    border-color: #F5C6CB;
  }

  .notification-message {
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 5px;
  }

  .notification-title {
    color: #dc3545;
    font-weight: bold;
  }

  .chat-icon {
    font-size: 20px;
    margin-right: 5px;
  }

  .order-details {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .order-details p {
    margin: 0;
  }

  .notification-box.admin-notification .notification-message {
    background-color: #D7F9D7;
    text-align: left;
  }

  .notification-box.user-notification .notification-message {
    background-color: #F9D7D7;
    text-align: right;
  }