.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
}

.carousel-control-prev,
.carousel-control-next {
  color: black;
  background-color: transparent;
}

.testimonial4_slide p,
.testimonial4_slide h4 {
  color: black;
}


.testimonial4_slide{
  background-color: ghostwhite;

  padding: 50px;
}